name: Lint

on:
  pull_request:
  push:
    branches:
      - '*'

jobs:
  lint:
    uses: jalavosus/workflows/.github/workflows/go-lint.yml@v1.0.5
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}